/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body{
    font-family:微软雅黑,Helvetica,Arial,sans-serif;
    font-size: 16px;
}
.saoyisao{
    text-align: center;
}
@font-face {
  font-family: 'iconfont';
  src: url('http://at.alicdn.com/t/font_1420969607_672501.eot'); /* IE9*/
  src: url('http://at.alicdn.com/t/font_1420969607_672501.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/font_1420969607_672501.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/font_1420969607_672501.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/font_1420969607_672501.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
  font-family:"iconfont";
  font-size:253px;
  font-style:normal;     
  margin:0 auto;
  text-align: center;
  line-height: 253px;
}
.coloraq{
    color:#23be94;
}
.colorks{
   color:#63b8df;
}
.colorbj{
    color:#ebb260;
}
.row{
     width: 100%;
     margin:0 auto;
     margin-bottom: 30px;

}
.introduceh{
     margin: 0 auto;    
     padding: 0px;
     margin-top: 0px;
     text-align: center;
     
}
.introducesl{
      width:70%; 
      margin:15px 15%;
      font-weight:bold; 
      color: #7f8c8d;
}
.servicebgc{
    background-color: #ebebeb;
}
.servetable{
    margin:0 auto;
    margin-top: 50px;
    width: 70%;
    margin-bottom: 30px;
 
}


.serviceinner{
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.serviceouter{
    margin-bottom: 20px;
}


.serveimg{
   width: 85%;

   margin: 20px auto;
   border: 0px;
   border-radius: 10px;
 
}

.slogan{
      height: 40px;  
      font-size: 32px;
      text-align: center;
      line-height: 40px;
      margin:0px auto;
      padding: 30px;
    }
 

.experience{
    background-color: #32afe6;
    font-size: 24px;
    color: white;
    text-align: center;
    line-height:100px;
    margin-bottom: 0px;
  }
.expstart{
       display: inline-block;
  }
.expfocus{
    display: inline-block;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    border:solid 2px white;
    margin-top:20px;
    margin-left: 20px;
    text-align: center;
    line-height:60px;
}
.footer{
    height: 150px;
    width: 100%;
    background-color: #343a3d;
    color:white;
    text-align: center;
     line-height:150px;
  
    font-weight: bold;

  }
.footer p{
        margin:0 auto;
  }

.footer_white{
       height: 100px;
       width: 100%;
   
  
     text-align: center;
     line-height:100px;
  
     font-weight: bold;
}

.footertr_white p{
        margin:0 auto;
  }

.row{
     width: 100%;
     margin:0 auto;
     margin-bottom: 30px;

}
.introduceh{
     margin: 0 auto;    
     padding: 0px;
     margin-top: 0px;
     text-align: center;    
}
.introducesl{
      width:80%; margin:15px 15%;  font-weight:bold; 
    }

.row .introduc{
    width: 75%;
}

.myMarousel{
    margin-bottom: 0px;
}
.lead-lg {
    font-size: 24px;
    line-height: 2;
    vertical-align: middle;
    height:100%;
}
.content-title {
   padding-left: 16px;
}
.contact {
   padding-left: 32px;
}
.name span {
    font-size: 16px;
    font-weight: bold;
    padding-right: 10px;
}
.wx-img {
    width:300px;
    height:450px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;

}
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;

}
.navbar-wrapper .navbar .container {
  width: auto;
 
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 500px; 
    background-color: #28a7e1;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
}
.carousel .item .left {
    position: absolute;
    text-align: right;
}
.carousel .item .right {
    position: absolute;
    top:auto;
    height:400px;
}
.carousel .item .left > p{
  color: white;
  margin-top: 12px;
}


.carousel .index-qrcode {
    position: absolute;
    top:auto;
    bottom: 20px;
    z-index: 10;
}

.carousel .index-qrcode img {
    height:128px;
    width: 128px;
    padding:1px;
    background-color: #66b9f6;
}
.carousel .index-qrcode p {
    font-size: 14px;
    color: white;
}
/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-md-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-md-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
   margin: 20px 0; /* Space out the Bootstrap <hr> more */
}

.featurette-top-divider {
   margin: 80px 0 20px 0; /* Space out the Bootstrap <hr> more */
}
/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Navbar positioning foo */
.navbar-wrapper {
    margin-top: 20px;
}
.navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
}

  /* The navbar becomes detached from the top, so we round the corners */
.navbar-wrapper .navbar {
    border-radius: 4px;
}

  /* Bump up size of carousel content */
.carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
}

.featurette-heading {
    font-size: 50px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
@media (max-width:768px) {
  .slogan{
    height: 20px;
    font-size: 24px;
    text-align: center;
    line-height: 24px;
    margin:0px auto;
    padding: 10px;
}
.serveimg{
  width: 95%;

   margin: 5px auto;
   border: 0px;
 
}
.carousel .item .left > img{
    width:200px;
    height:auto;
}
.carousel .item .left {
    text-align: center;
    top:30%;
    left: 0;
    right: 0;
    margin: auto;
}
.carousel .item .right {
    width: 30%;
    height: auto;
    top:auto;
    bottom: 15%;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0.5;
}

}

@media (min-width:768px) and (max-width: 990px) {

  .carousel .item .left > img{
    width:200px;
    height:auto;
  }
  .carousel .item .left.withdraw {
    top: 200px;
    right: 50%;
  }
  .carousel .item .right.withdraw {
    bottom: 100px;
    left: 50%;

    width: 260px;
    height:auto;
  }
  .carousel .item .left.exchange {
    top: 200px;
    right: 43%;
  }
  .carousel .item .right.exchange {
    bottom: 0;
    left: 40%;

    width: 400px;
    height:auto;
  }
  .carousel .item .left.send {
    top: 200px;
    right: 55%;
  }
  .carousel .item .right.send {
    bottom: 170px;
    left: 50%;
    width: 280px;
    height: auto;
  }
}

@media (min-width:990px) and (max-width: 1200px) {
  .carousel .item .left > img{
    width:250px;
    height:auto;
  }
  .carousel .item .left.withdraw {
    top: 200px;
    right: 50%;
  }
  .carousel .item .right.withdraw {
    bottom: 40px;
    left: 50%;
    width: 350px;
    height:auto;
  }
  .carousel .item .left.exchange {
    top: 200px;
    right: 43%;
  }
  .carousel .item .right.exchange {
    bottom: 0;
    left: 40%;
    width: 500px;
    height:auto;
  }
  .carousel .item .left.send {
    top: 200px;
    right: 55%;
  }
  .carousel .item .right.send {
    bottom: 100px;
    left: 50%;
    width: 420px;
    height: auto;
  }
}

@media (min-width:1200px) {
  .carousel .item .left.withdraw {
    top: 200px;
    right: 45%;
  }
  .carousel .item .right.withdraw {
    bottom: 10px;
    left: 55%;
  }
  .carousel .item .left.exchange {
    top: 150px;
    right: 41%;
  }
  .carousel .item .right.exchange {
    bottom: 0;
    left: 45%;
    width: 600px;
    height:auto;
  }
  .carousel .item .left.send {
    top: 200px;
    right: 55%;
  }
  .carousel .item .right.send {
    bottom: 30px;
    left: 50%;
    width: 500px;
    height:auto;
  }
  .carousel .item .left > img{

  }
}
