    <div ng-include src="'views/nav.html'"></div>
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <hr class="featurette-top-divider">
      <!-- Three columns of text below the carousel -->
      <div class="col-md-12">
        <p>
          波纹科技是一家致力于通过创新来创造价值的互联网创业公司，成立于2014年的北京。目前，我们正努力使用互联网技术，打破传统积分之间的壁垒，让商户发出的积分可以随时消费、体现、兑换，将传统积分从流通域小，无法变现，浪费闲置严重的“鸡肋”变成有用，易用，好用的“鸡腿”。目前，我们已获得几百万人民币级别的天使融资。
        </p>
        <p>
          我们位于朝阳区国贸附近，办公氛围自由宽松，没有条条框框的限制，我们推崇自由，平等，创新的思想。公司提供无限量的零食饮料，跑步机，各种按摩器，健身器材。
        </p>
        </div><!-- /.col-md-12 -->

      <div class="row" style="margin-bottom: 25px;">
        <div class="col-md-12"><h2 class="content-title">团队介绍</h2></div>
      </div>

      <div class="row" style="margin-bottom: 25px;">
        <div class="col-md-2"><img class="img-responsive" src="images/wangli.png"></img></div>
        <div class="col-md-9">
        <p class="name"><span>王立</span>创始人</p>
        <p>国内第一批从事AndIoid开发的程序员，曾任职于中国工商银行总行、北京分行，从事电子银行、个人金融、公司等业务的工作。有多次互联网金融方向创业经验。<br>
        自诩“最懂技术的金融民工和最懂金融的IT技术宅”。</p>
        </div>
      </div>

      <div class="row" style="margin-bottom: 25px;">
        <div class="col-md-2"><img class="img-responsive" src="images/yijingping.png"></img></div>
        <div class="col-md-9">
        <p class="name"><span>易景平</span>CTO</p>
        <p>全栈工程师，擅长Web前后端技术。原高德地图高级工程师，熟悉大流量和分布式系统开发。曾担任中国农业大学计算机协会会长，Sun公司OSUM Leader，CIEE Team Leader，团队多次获奖，并拥有专利。曾在创业公司99房主力负责Web及App后端开发。有多平台多语言开发技能及丰富经验，具备独立架构和快速编码的能力，有丰富的技术圈内资源。</p>
        </div>
      </div>

      <div class="row" style="margin-bottom: 25px;">
        <div class="col-md-2"><img class="img-responsive" src="images/jijunsheng.png"></img></div>
        <div class="col-md-9">
        <p class="name"><span>纪钧升</span>COO</p>
        <p>原亿玛在线项目总监。擅长数据分析、产品制作和运营方案，对项目把控能力较强。曾多次主导创业，包括团购网站、O2O活动组织平台、在线教育平台等项目，具有丰富的互联网创业实战经验，丰富的线下商户资源。
        </div>
      </div>
      
      <hr class="featurette-divider">     
      <div class="row">
        <div class="col-md-12"><h2 class="content-title">联系我们</h2></div>      
      </div>
      <div class="row">
        <div class="col-md-12 contact">
          <h5>公司总部：</h5>
          <ul>
            <li>北京市朝阳区广渠路36号首城国际B座908（地铁双井站向东600米）</li>
          </ul>
          <h5>电话：</h5>
          <ul>
            <li>010-67784890</li>
          </ul>
          <h5>邮编：</h5>
          <ul>
            <li>100022</li>
          </ul>

          <h5>邮箱：</h5>
          <ul>
            <li><a href="mailto:kefu@bowenpay.com">kefu@bowenpay.com</a></li>
          </ul>
        </div><!-- /.col-md-12 -->
      </div><!-- /.row -->

      <hr class="featurette-divider">
      <div ng-include src="'views/footer.html'"></div>

    </div><!-- /.container -->

