    <div ng-include src="'views/nav.html'"></div>
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <hr class="featurette-top-divider"/>
      <!-- Three columns of text below the carousel -->
      <div class="row">

        <div class="col-md-12">
        <p>
          波纹科技是一家致力于通过创新来创造价值的互联网创业公司，成立于2014年的北京。目前，我们正努力使用互联网技术，打破传统积分之间的壁垒，让商户发出的积分可以随时消费、体现、兑换，将传统积分从流通域小，无法变现，浪费闲置严重的“鸡肋”变成有用，易用，好用的“鸡腿”。目前，我们已获得几百万人民币级别的天使融资。
        </p>
        <p>
          我们位于朝阳区国贸附近，办公氛围自由宽松，没有条条框框的限制，我们推崇自由，平等，创新的思想。公司提供无限量的零食饮料，跑步机，各种按摩器，健身器材。
        </p>
        <p>
          如果你是一位想实现自我价值，做一些不会为虚度光阴而悔恨的事，那么请将简历投递到：<a href="mailto:hr@bowenpay.com">hr@bowenpay.com</a>，我们期待你的加入。
        </p>
        </div><!-- /.col-md-12 -->


        <div class="col-md-12">
          <h4>移动产品设计师</h4>
          <h5>岗位职责：</h5>
          <ul>
            <li>负责h5页面的界面和交互设计。</li>
            <li>负责ios、android客户端的界面和交互设计。</li>
          </ul>
          <h5>任职要求：</h5>
          <ul>
            <li>熟练使用各种交互产出软件及界面设计软件。</li>
            <li>熟悉iOS和Android移动产品的设计规范，熟悉移动产品的交互特点。</li>
            <li>至少独立设计过一款app。</li>
          </ul>
        </div><!-- /.col-md-12 -->

        <div class="col-md-12">
          <h4>前端开发工程师</h4>
          <h5>岗位职责：</h5>
          <ul>
            <li>负责微信应用h5页面的开发。</li>
            <li>负责公司网站页面的开发。</li>
            <li>部分管理后台的开发。</li>
          </ul>
          <h5>任职要求：</h5>
          <ul>
            <li>熟悉html5和css3特性。</li>
            <li>熟悉前端模块化开发，了解seajs/requirejs。</li>
            <li>使用过一种以上的前端框架，如 Bootstrap、Foundation；有Sass、LESS等使用经验</li>
            <li>掌握 jQuery / AngularJS / React 等JavaScript框架/类库。</li>
            <li>至少熟悉一门后端语言，node.js最好。</li>
          </ul>
        </div><!-- /.col-md-12 -->

        <div class="col-md-12">
          <h4>Node.js研发工程师</h4>
          <h5>岗位职责：</h5>
          <ul>
            <li>负责nodejs后端开发。</li>
            <li>负责项目的设计、编码、测试及bug处理。</li>
            <li>负责配合移动客户端进行编码开发。</li>
          </ul>
          <h5>岗位要求：</h5>
          <ul>
            <li>两年以上服务器开发经验，对Node.js以及其他新技术充满热情。</li>
            <li>熟练掌握Javascript语言编程，熟悉Node.js标准库的使用，能完成相应的扩展开发。</li>
            <li>具备Express、async等框架的使用经验，熟悉HTTP，TCP/IP网络协议。</li>
            <li>精通 MongoDb。</li>
            <li>具有Linux上的开发经验，能够编写常用和基本的Shell脚本。</li>
          </ul>
        </div><!-- /.col-md-12 -->
      </div><!-- /.row -->

      <hr class="featurette-divider">
      <div ng-include src="'views/footer.html'"></div>

    </div><!-- /.container -->

