<div class="navbar-wrapper">
  <div class="container">

    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/#/">波纹积分</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ng-class="{'active':isActive('/') || isActive('/myCarousel')}"><a href="/#/">首页</a></li>
            <li ng-class="{'active':isActive('/product')}"><a href="/#/product">产品与服务</a></li>
            <li ng-class="{'active':isActive('/joinus')}"><a href="/#/joinus">加入我们</a></li>
            <li ng-class="{'active':isActive('/about')}"><a href="/#/about">关于我们</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>