    <div ng-include src="'views/nav.html'"></div>
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- START THE FEATURETTES -->

      <hr class="featurette-top-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">主页</h2>
          <p class="lead">目前提供微信客户端服务，<br/>即将推出IOS，Android客户端。</p>
        </div>
        <div class="col-md-4 col-md-offset-1">
          <img class="featurette-image img-responsive img-rounded" src="images/m1.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-4">
          <img class="featurette-image img-responsive img-rounded" src="images/m2.png" alt="Generic placeholder image">
        </div>
        <div class="col-md-7 col-md-offset-1">
          <h2 class="featurette-heading">积分支付和转账</h2>
          <p class="lead">自动定位您最近的合作商户，一键支付简单快捷。<br/>输入对方户名，或加为好友，一键转账，安全方便。</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">积分兑换</h2>
          <p class="lead">不同商户的积分自由兑换，根据市场供求价格波动。<br/>银行级别的清算及交易后台，助您玩转积分。</p>
        </div>
        <div class="col-md-4 col-md-offset-1">
          <img class="featurette-image img-responsive img-rounded" src="images/m3.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-4">
          <img class="featurette-image img-responsive img-rounded" src="images/m4.png" alt="Generic placeholder image">
        </div>
        <div class="col-md-7 col-md-offset-1">
          <h2 class="featurette-heading">充值消费</h2>
           <p class="lead">还在担心受赠积分不够消费或获得优惠？<br/>直接充值积分，获得商户优惠。</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">交易记录</h2>
          <p class="lead">每一笔交易详细记录，方便您查询，做账。</p>
        </div>
        <div class="col-md-4 col-md-offset-1">
          <img class="featurette-image img-responsive img-rounded" src="images/m5.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">更多功能，敬请期待...</h2>
        </div>
      </div>

      
      <hr class="featurette-divider">
      <!-- /END THE FEATURETTES -->
  
    </div><!-- /.container -->


    <div ng-include src="'views/footer_transparent.html'"></div>
